* {
  padding: 0;
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.App {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
